.fog {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
  }

  .fog .image01,
  .fog .image02 {
    float: left;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #foglayer_01 .image01,
  #foglayer_01 .image02 {
    background-image: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png');
  }

  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    background-image: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png');
  }

  #foglayer_01 {
    animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  }

  #foglayer_02,
  #foglayer_03 {
    animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  }

  @keyframes foglayer_01_opacity {
    0% { opacity: 0.1; }
    22% { opacity: 0.5; }
    40% { opacity: 0.28; }
    58% { opacity: 0.4; }
    80% { opacity: 0.16; }
    100% { opacity: 0.1; }
  }

  @keyframes foglayer_02_opacity {
    0% { opacity: 0.5; }
    25% { opacity: 0.2; }
    50% { opacity: 0.1; }
    80% { opacity: 0.3; }
    100% { opacity: 0.5; }
  }

  @keyframes foglayer_03_opacity {
    0% { opacity: 0.8; }
    27% { opacity: 0.2; }
    52% { opacity: 0.6; }
    68% { opacity: 0.3; }
    100% { opacity: 0.8; }
  }

  @keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
